name: Code Dev Flow
concurrency: ci-feature
on:
    push:
        branches:
          - 'dev'
env:
    SERVICE_NAME: microservicio-gke
    PROJECT_CLUSTER_ID: ${{ secrets.PROJECT_CLUSTER_ID_DEV }}
    PROJECT_ID: ${{ secrets.PROJECT_ID_DEV }}
    CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}
    CLUSTER_LOCATION: us-central1
    ENV_FILE: env/dev.env
    ENV: dev

jobs:
    build_and_deploy:
      runs-on: ubuntu-latest
      name: Build and deploy
      steps:
        - name: Merge development -> feature
          uses: devmasx/merge-branch@v1.3.1
          with:
            type: now
            from_branch: test
            target_branch: dev
            github_token: ${{ secrets.USER_PAT }}
        - name: Checkout
          uses: actions/checkout@v2
        - name: Cache node modules
          uses: actions/cache@v2
          with:
              path: '**/node_modules'
              key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
        - name: Install and Build
          uses: ./.github/actions/build
        - name: Build tests
          uses: ./.github/actions/quality
        - name: Set up Cloud SDK
          uses: google-github-actions/setup-gcloud@master
          with:
              project_id: ${{ secrets.PROJECT_CLUSTER_ID }}
              service_account_key: ${{ secrets.GCP_SA_KEY }}
              export_default_credentials: true
        - name: Create ENV File
          run: cp ${{ env.ENV_FILE }} .env
        - name: Build and deploy image
          run: PROJECT_ID=$PROJECT_CLUSTER_ID COMMIT_SHA=${{ github.sha }} SERVICE_NAME=$SERVICE_NAME make deploy

    kubernetes:
      runs-on: ubuntu-latest
      name: Kubernetes
      steps:
        - id: get-credentials
          name: Get Credentials
          uses: google-github-actions/get-gke-credentials@main
          with:
              cluster_name: ${{ secrets.CLUSTER_NAME }}
              location: ${{ secrets.CLUSTER_LOCATION }}
        - name: Setup Kustomize
          uses: imranismail/setup-kustomize@v1
          with:
              kustomize-version: '3.9.2'
        - name: reemplazar variables
          run: 
        - name: Update image
          run: kustomize edit set image gcr.io/PROJECT_ID/cu-pagos-pay-ms=gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA
        - name: Build and Deploy
          run: kustomize build ./manifests/$ENV | kubectl apply -f -

    terraform:
      runs-on: ubuntu-latest
      name: Infra as Code
      needs: build_and_deploy
      steps:
          - name: Checkout
            uses: actions/checkout@v2
          - name: Set up Cloud SDK
            uses: google-github-actions/setup-gcloud@master
            with:
                project_id: ${{ secrets.PROJECT_ID_DEV }}
                service_account_key: ${{ secrets.GCP_SA_KEY }}
                export_default_credentials: true
          - name: Setup Terraform
            uses: hashicorp/setup-terraform@v1
          - name: Init Terraform
            run: make terraform-init
          - name: Create Workspace Terraform
            run: PROJECT_ID=$GCP_PROJECT ENV=dev  make terraform-create-workspace
          - name: Apply Terraform
            run: PROJECT_ID=$GCP_PROJECT ENV=dev  make terraform-apply

    merge:
      needs: kubernetes
      runs-on: ubuntu-latest
      steps:
        - name: Merge development -> feature
          uses: devmasx/merge-branch@v1.3.1
          with:
            type: now
            from_branch: dev
            target_branch: test
            github_token: ${{ secrets.USER_PAT }}