name: Code Feature Flow
on:
    push:
        branches:
          - 'feature/**'
          - 'fix/**'
env:
    SERVICE_NAME: example
    REGION: us-central1
    GCP_PROJECT: ${{ secrets.PROJECT_ID_DEV }}
    ENV_FILE: env/dev.env
jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        name: Build and deploy
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Cache node modules
              uses: actions/cache@v2
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
            - name: Install and Build
              uses: ./.github/actions/build
            - name: Build tests
              uses: ./.github/actions/quality
            - name: SonarQube Scan
              uses: sonarsource/sonarqube-scan-action@master
              with:
                projectBaseDir: .
              env:
                SONAR_HOST_URL: ${{ secrets.SONARQUBE_HOST }}
                SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
            - name: SonarQube Quality Gate check
              uses: sonarsource/sonarqube-quality-gate-action@master
              timeout-minutes: 5
              env:
                SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
              with:
                scanMetadataReportFile: ./.scannerwork/report-task.txt
            - name: Set up Cloud SDK
              uses: google-github-actions/setup-gcloud@master
              with:
                  project_id: ${{ secrets.PROJECT_ID_DEV }}
                  service_account_key: ${{ secrets.GCP_SA_KEY }}
                  export_default_credentials: true
            - name: Build and deploy image
              run: PROJECT_ID=$GCP_PROJECT COMMIT_SHA=${{ github.sha }} SERVICE_NAME=$SERVICE_NAME make deploy

    upload_image:
        runs-on: ubuntu-latest
        name: Build and deploy
        needs: build_and_deploy
        outputs:
            url: ${{ steps.extract_url.outputs.url }}
        steps:
          - name: Set up Cloud SDK
            uses: google-github-actions/setup-gcloud@master
            with:
              project_id: ${{ secrets.PROJECT_ID }}
              service_account_key: ${{ secrets.GCP_SA_KEY }}
              export_default_credentials: true
          - id: get-credentials
            name: Get Credentials
            uses: google-github-actions/get-gke-credentials@main
            with:
                cluster_name: ${{ secrets.CLUSTER_NAME }}
                location: ${{ secrets.CLUSTER_LOCATION }}
          - name: Create ENV File
            run: kubectl --namespace=apis delete pod -l app=$SERVICE_NAME